name: zup_ui_kit
description: "Zup UI Kit"
version: 0.0.1
publish_to: "none"

environment:
  sdk: ^3.8.0
  flutter: ^3.32.2

dependencies:
  flutter:
    sdk: flutter
  flutter_animate: ^4.5.2
  flutter_svg: ^2.2.0
  mocktail: ^1.0.4
  zup_core:
    # path: ../zup_core
    git:
      url: https://github.com/Zup-Protocol/zup-core.git
      ref: main

# dependency_overrides:
#   zup_core:
#     path: ../zup-core

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  flutter_gen_runner: ^5.7.0
  build_runner: ^2.4.12
  golden_toolkit: ^0.15.0
  meta: ^1.15.0

flutter_gen:
  output: lib/src/gen/
  line_length: 200
  integrations:
    flutter_svg: true
  assets:
    enabled: true
  colors:
    enabled: false

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/icons/
